/*
 * Контейнер содержимого страницы
*/
.content-wrapper .button {
	min-height: 40px;
	width: 100%;
	font-size: 16px;
	padding: 8px 12px;
	margin-bottom: 10px;
}
.content-wrapper .button:last-child {
	margin-bottom: 0;
}
.content-wrapper {
	-webkit-user-select: none;
	   -moz-user-select: none;
			user-select: none;
}
/*
 * Список
*/
.task-list {
	margin: 15px 0;
}

/*
 * Действия
*/
.task-actions {
	margin: 15px 0;
}

/*
 * Элемент задачи
*/
.task-item {
	min-height: 40px;
	margin: 0 0 10px;
	border: 1px solid  #ccc;
	border-radius: 5px;
	padding: 6px 9px;
	cursor: pointer;
}
.task-item:last-child {
	margin: 0;
}
.task-item__name {
	float: left;
	max-width: 90%;
	height: 100%;
	box-sizing: border-box;

	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.task-item__name span {
	vertical-align: middle;
}
.task-item__status {
	float: right;
	width: 26px;
	height: 26px;
	max-height: 100%;
	border: 1px solid #ccc;
	border-radius: 5px;
	cursor: pointer;
}
.task-item__status:hover {
	background-color: #e6e6e6;
}
.task-item__description {
	display: none;
	clear: both;
	font-style: italic;
    border-top: 1px solid #ccc;
    padding-top: 10px;
    padding-bottom: 5px;
	top: 7px;
	position: relative;
}
.task-item__date {
	display: block;
	text-align: right;
	margin-top: 15px;
	color: #999;
}

.task-item.complete {
	background-color: #EDEDED;
}
.task-item.complete .task-item__name {
	text-decoration: line-through;
}
.task-item.complete .task-item__status {
	//background-color: skyblue;
}